examples/modem.json
[{"id":"9b3887d9.e86bd8","type":"http request","z":"e57f4884.27ba8","name":"Query DAS","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1020,"wires":[["4c9b5c45.183c54"]]},{"id":"4c9b5c45.183c54","type":"link out","z":"e57f4884.27ba8","name":"","links":["9d5a51d7.f8c2b"],"x":555,"y":1020,"wires":[]},{"id":"9d5a51d7.f8c2b","type":"link in","z":"e57f4884.27ba8","name":"To DAS parser","links":["4c9b5c45.183c54","799954a3.2e0324"],"x":75,"y":1180,"wires":[["796288b0.18f4b"]]},{"id":"f2342d08.5ed468","type":"comment","z":"e57f4884.27ba8","name":"_________________________      Device & Application Services      _________________________","info":"","x":530,"y":960,"wires":[]},{"id":"8a284b5a.5fa2e","type":"loracloud-utils-connectors-actility-in","z":"e57f4884.27ba8","name":"","port":"199","x":350,"y":400,"wires":[["f2eaf9ca.95412"],["407388ac.201"]]},{"id":"122c65d.4e3169a","type":"comment","z":"e57f4884.27ba8","name":"_________________________      LNS Connexion      _________________________","info":"","x":480,"y":340,"wires":[]},{"id":"c70c3db3.a8d8e8","type":"link out","z":"e57f4884.27ba8","name":"","links":["a7a151f7.ab3b18","e03f8ccd.cb47f8","c350de83.3d1598"],"x":535,"y":520,"wires":[]},{"id":"f6e2786f.18fd88","type":"inject","z":"e57f4884.27ba8","name":"DAS url","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":120,"wires":[["45f59947.bace68"]]},{"id":"45f59947.bace68","type":"function","z":"e57f4884.27ba8","name":"DAS url","func":"global.set('das_url', msg.payload);","outputs":1,"noerr":0,"x":340,"y":120,"wires":[[]]},{"id":"84866ca7.aa7e4","type":"inject","z":"e57f4884.27ba8","name":"DAS server token","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":170,"y":80,"wires":[["a20bcfca.a8b58"]]},{"id":"a20bcfca.a8b58","type":"function","z":"e57f4884.27ba8","name":"DAS server token","func":"global.set('das_token', msg.payload);","outputs":1,"noerr":0,"x":370,"y":80,"wires":[[]]},{"id":"753c7cf7.14b364","type":"comment","z":"e57f4884.27ba8","name":"_________________________      CONFIG      _________________________","info":"Demo AS code v1.1.0\n\n---\n\nv1.1.0\nUse Wi-Fi DAS\n\nv1.0.1\nUpdate license\n\nv1.0.0\nInital release","x":460,"y":40,"wires":[]},{"id":"d49be1b5.25b518","type":"comment","z":"e57f4884.27ba8","name":"License","info":"Revised BSD License\nCopyright Semtech Corporation 2020. All rights reserved.\n\nRedistribution and use in source and binary forms, with or without\nmodification, are permitted provided that the following conditions are met:\n* Redistributions of source code must retain the above copyright\n  notice, this list of conditions and the following disclaimer.\n* Redistributions in binary form must reproduce the above copyright\n  notice, this list of conditions and the following disclaimer in the\n  documentation and/or other materials provided with the distribution.\n* Neither the name of the Semtech corporation nor the\n  names of its contributors may be used to endorse or promote products\n  derived from this software without specific prior written permission.\n\nTHIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS \"AS IS\"\nAND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE\nIMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE\nARE DISCLAIMED. IN NO EVENT SHALL SEMTECH S.A. BE LIABLE FOR ANY DIRECT,\nINDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES\n(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;\nLOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND\nON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT\n(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS\nSOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.\n","x":950,"y":40,"wires":[]},{"id":"d8eda382.7af79","type":"comment","z":"e57f4884.27ba8","name":"_________________________      Application example      _________________________","info":"","x":500,"y":1600,"wires":[]},{"id":"e03f8ccd.cb47f8","type":"link in","z":"e57f4884.27ba8","name":"To graph","links":["c70c3db3.a8d8e8","4ffefb56.6cd57c","f2eaf9ca.95412","39ef899f.f3f1d6","10f8abd2.57ba1c","b014715b.09feb"],"x":75,"y":1664,"wires":[["44ee327a.2ab064"]]},{"id":"44ee327a.2ab064","type":"function","z":"e57f4884.27ba8","name":"If port=102, extract temperature","func":"if (msg.uplink.port == 102) {\n    msg.payload = (new Buffer.from(msg.payload, 'hex'))[0];\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":250,"y":1664,"wires":[["7dbd40d8.a72e08"]]},{"id":"7dbd40d8.a72e08","type":"ui_chart","z":"e57f4884.27ba8","name":"Temperature widget","group":"3d6a8553.62c7da","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":1664,"wires":[[]]},{"id":"f93c655a.6eed98","type":"mqtt in","z":"e57f4884.27ba8","name":"TTN v2 - Uplinks","topic":"+/devices/+/up","qos":"2","datatype":"auto","broker":"","x":140,"y":540,"wires":[["5b3c7637.688df"]]},{"id":"1606b9c7.c5bf5e","type":"debug","z":"e57f4884.27ba8","name":"DAS - Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":1260,"wires":[]},{"id":"3f3e10f6.cde7b","type":"debug","z":"e57f4884.27ba8","name":"DAS - Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":1100,"wires":[]},{"id":"42094027.ad66a","type":"debug","z":"e57f4884.27ba8","name":"DAS - Stream","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":1180,"wires":[]},{"id":"7ed086c7.454ad8","type":"debug","z":"e57f4884.27ba8","name":"DAS - File","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":190,"y":1724,"wires":[]},{"id":"29a921ee.f3b2d6","type":"mqtt out","z":"e57f4884.27ba8","name":"","topic":"","qos":"","retain":"","broker":"","x":230,"y":1480,"wires":[]},{"id":"49219a8.5b73564","type":"mqtt in","z":"e57f4884.27ba8","name":"Actility","topic":"TPX/+/+/UL","qos":"2","datatype":"auto","broker":"","x":110,"y":400,"wires":[["8a284b5a.5fa2e"]]},{"id":"f2eaf9ca.95412","type":"link out","z":"e57f4884.27ba8","name":"","links":["a7a151f7.ab3b18","e03f8ccd.cb47f8","c350de83.3d1598"],"x":535,"y":380,"wires":[]},{"id":"427ad82f.c7fbc","type":"inject","z":"e57f4884.27ba8","name":"Get devices information from DAS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2060,"wires":[["7425f23b.01b77c"]]},{"id":"7425f23b.01b77c","type":"function","z":"e57f4884.27ba8","name":"/api/v1/device/info","func":"var api = 'api/v1/device/info';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\nmsg.payload = {\n   'deveuis':  global.get('deveuis'),\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2060,"wires":[["48ed687b.9e0898"]]},{"id":"492088b9.cb235","type":"debug","z":"e57f4884.27ba8","name":"device/info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":2060,"wires":[]},{"id":"48ed687b.9e0898","type":"http request","z":"e57f4884.27ba8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2060,"wires":[["b3d52a67.92b18"]]},{"id":"b3d52a67.92b18","type":"json","z":"e57f4884.27ba8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":2060,"wires":[["492088b9.cb235"]]},{"id":"2bf14f38.918a4","type":"comment","z":"e57f4884.27ba8","name":"_________________________      Direct API calls      _________________________","info":"","x":500,"y":2000,"wires":[]},{"id":"3c607b36.0eb054","type":"inject","z":"e57f4884.27ba8","name":"Send reset request","topic":"","payload":"[{\"type\":\"RESET\",\"param\":3}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2120,"wires":[["eaffa026.422ec"]]},{"id":"eaffa026.422ec","type":"function","z":"e57f4884.27ba8","name":"/api/v1/requests/set","func":"var api = 'api/v1/requests/set';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\nmsg.payload = {\n   'deveuis':  global.get('deveuis'),\n   'requests': msg.payload,\n   'upcount': 1,\n   'updelay': 20,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2180,"wires":[["c277a06c.6ad73"]]},{"id":"b2814ed.18e31b","type":"debug","z":"e57f4884.27ba8","name":"requests/add","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.result","targetType":"msg","x":970,"y":2180,"wires":[]},{"id":"c277a06c.6ad73","type":"http request","z":"e57f4884.27ba8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":690,"y":2180,"wires":[["2eec276f.830358"]]},{"id":"2eec276f.830358","type":"json","z":"e57f4884.27ba8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":2180,"wires":[["b2814ed.18e31b"]]},{"id":"b3345a75.f2628","type":"inject","z":"e57f4884.27ba8","name":"Send rejoin request","topic":"","payload":"[{\"type\":\"REJOIN\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2160,"wires":[["eaffa026.422ec"]]},{"id":"4bc90751.4c9038","type":"inject","z":"e57f4884.27ba8","name":"Update all info from modem","topic":"","payload":"[{\"type\":\"GETINFO\",\"param\":[\"appstatus\",\"uptime\",\"signal\",\"session\",\"voltage\",\"interval\",\"rxtime\",\"firmware\",\"region\",\"temp\",\"joineui\",\"chipeui\",\"adrmode\",\"charge\",\"status\",\"rstcount\",\"deveui\"]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2200,"wires":[["eaffa026.422ec"]]},{"id":"d296e6e5.4e5ac8","type":"link out","z":"e57f4884.27ba8","name":"","links":["3fdb74c6.0d1ecc","6373b4e9.65af34"],"x":535,"y":560,"wires":[]},{"id":"3fdb74c6.0d1ecc","type":"link in","z":"e57f4884.27ba8","name":"To DAS - Joining","links":["d296e6e5.4e5ac8","3641ac5e.9df744","407388ac.201"],"x":75,"y":1020,"wires":[["fc72b1f2.f4724"]]},{"id":"fc72b1f2.f4724","type":"function","z":"e57f4884.27ba8","name":"Set url and credentials","func":"var api = 'api/v1/uplink/send';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1020,"wires":[["9b3887d9.e86bd8"]]},{"id":"5b3c7637.688df","type":"loracloud-utils-connectors-ttn-v2-in","z":"e57f4884.27ba8","name":"","port":"199","x":350,"y":540,"wires":[["c70c3db3.a8d8e8"],["d296e6e5.4e5ac8"]]},{"id":"66a7df40.75e87","type":"mqtt in","z":"e57f4884.27ba8","name":"TTN v2 - joinReq","topic":"+/devices/+/events/activations","qos":"2","datatype":"auto","broker":"","x":140,"y":600,"wires":[["5b3c7637.688df"]]},{"id":"1e5445e7.57ba92","type":"mqtt in","z":"e57f4884.27ba8","name":"TTN v3 - Uplinks","topic":"v3/+/devices/+/up","qos":"2","datatype":"auto","broker":"","x":140,"y":740,"wires":[["56b382f2.8e702c"]]},{"id":"56b382f2.8e702c","type":"loracloud-utils-connectors-ttn-v3-in","z":"e57f4884.27ba8","name":"","port":"199","x":350,"y":740,"wires":[["10f8abd2.57ba1c"],["3641ac5e.9df744"]]},{"id":"10f8abd2.57ba1c","type":"link out","z":"e57f4884.27ba8","name":"","links":["a7a151f7.ab3b18","e03f8ccd.cb47f8"],"x":535,"y":720,"wires":[]},{"id":"3641ac5e.9df744","type":"link out","z":"e57f4884.27ba8","name":"","links":["3fdb74c6.0d1ecc"],"x":535,"y":760,"wires":[]},{"id":"1699a999.5bbc36","type":"mqtt in","z":"e57f4884.27ba8","name":"TTN v3 - joinReq","topic":"v3/+/devices/+/join","qos":"2","datatype":"auto","broker":"","x":140,"y":800,"wires":[["56b382f2.8e702c"]]},{"id":"10147f52.fb84f1","type":"ui_text","z":"e57f4884.27ba8","group":"3d6a8553.62c7da","order":1,"width":"6","height":"4","name":"Upload text widget","label":"File upload:","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1764,"wires":[]},{"id":"ce144636.3fcf68","type":"ui_template","z":"e57f4884.27ba8","group":"3d6a8553.62c7da","name":"Image widget","order":1,"width":"6","height":"11","format":"<p class=\"label nr-dashboard-chart-title ng-binding nr-dashboard-chart-titlel\">File upload PNG:</p><br />\n&nbsp;<br />\n<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":650,"y":1824,"wires":[[]]},{"id":"f5c0d1b3.c118c8","type":"function","z":"e57f4884.27ba8","name":"Format image data","func":"msg.payload = new Buffer.from(msg.payload.data, \"hex\");\nmsg.payload = msg.payload.toString(\"base64\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1824,"wires":[["ce144636.3fcf68"]]},{"id":"ab4765.50725898","type":"inject","z":"e57f4884.27ba8","name":"devEuis","topic":"","payload":"[\"00-00-00-00-00-00-00-00\"]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":160,"wires":[["32984a53.8cda36"]]},{"id":"32984a53.8cda36","type":"function","z":"e57f4884.27ba8","name":"Set deveuis","func":"global.set('deveuis', msg.payload);","outputs":1,"noerr":0,"x":350,"y":160,"wires":[[]]},{"id":"f588ba8a.f1dd78","type":"inject","z":"e57f4884.27ba8","name":"Clear requests","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2300,"wires":[["74e55a5d.485c74"]]},{"id":"74e55a5d.485c74","type":"function","z":"e57f4884.27ba8","name":"/api/v1/requests/clear","func":"var api = 'api/v1/requests/clear';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\nmsg.payload = {\n   'deveuis':  global.get('deveuis'),\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2300,"wires":[["4605a2b1.782fd4"]]},{"id":"4605a2b1.782fd4","type":"http request","z":"e57f4884.27ba8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":690,"y":2300,"wires":[["1ffa1641.1a3882"]]},{"id":"1ffa1641.1a3882","type":"json","z":"e57f4884.27ba8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":2300,"wires":[["401d29a4.f920c8"]]},{"id":"401d29a4.f920c8","type":"debug","z":"e57f4884.27ba8","name":"requests/add","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.result","targetType":"msg","x":970,"y":2300,"wires":[]},{"id":"8076b7b6.03283","type":"template","z":"e57f4884.27ba8","name":"Format raw data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Session: #{{payload.sctr}}<br \\>\nPort: {{payload.port}}<br \\>\nData: {{payload.data}}<br \\>","output":"str","x":200,"y":1764,"wires":[["10147f52.fb84f1"]]},{"id":"6e29a612.c52578","type":"link in","z":"e57f4884.27ba8","name":"To file display","links":["ca1a8c4f.560cb"],"x":75,"y":1764,"wires":[["7ed086c7.454ad8","8076b7b6.03283","62b919fb.93ab48"]]},{"id":"ca1a8c4f.560cb","type":"link out","z":"e57f4884.27ba8","name":"File from das","links":["6e29a612.c52578"],"x":355,"y":1140,"wires":[]},{"id":"62b919fb.93ab48","type":"switch","z":"e57f4884.27ba8","name":"Select file upload port","property":"payload.port","propertyType":"msg","rules":[{"t":"eq","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":1824,"wires":[["f5c0d1b3.c118c8"]]},{"id":"c3f34598.6c08f8","type":"link out","z":"e57f4884.27ba8","name":"Downlink from DAS","links":["61c026a4.adf3e8"],"x":355,"y":1220,"wires":[]},{"id":"61c026a4.adf3e8","type":"link in","z":"e57f4884.27ba8","name":"To LNS downlink","links":["c3f34598.6c08f8"],"x":75,"y":1480,"wires":[["29a921ee.f3b2d6","762dd900.2138a"]]},{"id":"4e92e600.4ec41c","type":"comment","z":"e57f4884.27ba8","name":"_________________________      Downlink management      _________________________","info":"","x":500,"y":1380,"wires":[]},{"id":"407388ac.201","type":"link out","z":"e57f4884.27ba8","name":"","links":["3fdb74c6.0d1ecc","6373b4e9.65af34"],"x":535,"y":420,"wires":[]},{"id":"f1329841.981cd8","type":"link out","z":"e57f4884.27ba8","name":"Stream from DAS","links":["d09a71f6.043ca8","f810f3e9.99d5c8"],"x":620,"y":1180,"wires":[]},{"id":"796288b0.18f4b","type":"loracloud-utils-connectors-das-parser","z":"e57f4884.27ba8","name":"","x":210,"y":1180,"wires":[["3f3e10f6.cde7b"],["ca1a8c4f.560cb"],["42094027.ad66a","f1329841.981cd8"],["c3f34598.6c08f8"],["1606b9c7.c5bf5e"]]},{"id":"762dd900.2138a","type":"debug","z":"e57f4884.27ba8","name":"DAS - Downlink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":260,"y":1520,"wires":[]},{"id":"3d6a8553.62c7da","type":"ui_group","z":"","name":"UG_Modem","tab":"87e75317.bdf948","order":1,"disp":true,"width":"6","collapse":false},{"id":"87e75317.bdf948","type":"ui_tab","z":"","name":"UG Modem","icon":"dashboard","disabled":false,"hidden":false}]